<?xml version="1.0" encoding="utf-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
 <servlet>
  <servlet-name>Locationbasedgame</servlet-name>
  <servlet-class>uk.ac.horizon.ug.locationbasedgame.LocationbasedgameServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>GameConfigurationCRUDServlet</servlet-name>
  <servlet-class>uk.ac.horizon.ug.locationbasedgame.author.GameConfigurationCRUDServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>ContentGroupList</servlet-name>
  <servlet-class>uk.ac.horizon.ug.locationbasedgame.lobbyapi.ContentGroupList</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>LobbyCreate</servlet-name>
  <servlet-class>uk.ac.horizon.ug.locationbasedgame.lobbyapi.LobbyCreate</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>GameCRUDServlet</servlet-name>
  <servlet-class>uk.ac.horizon.ug.locationbasedgame.author.GameCRUDServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>ControlGameServlet</servlet-name>
  <servlet-class>uk.ac.horizon.ug.locationbasedgame.lobbyapi.ControlGameServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>RpcLogin</servlet-name>
  <servlet-class>uk.ac.horizon.ug.locationbasedgame.lobbyapi.RpcLogin</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>InformLocation</servlet-name>
  <servlet-class>uk.ac.horizon.ug.locationbasedgame.client.InformLocation</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>Locationbasedgame</servlet-name>
  <url-pattern>/locationbasedgame</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>GameConfigurationCRUDServlet</servlet-name>
  <url-pattern>/author/configuration/*</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ContentGroupList</servlet-name>
  <url-pattern>/orchestration/content_group_list</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>LobbyCreate</servlet-name>
  <url-pattern>/orchestration/lobby_create</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>GameCRUDServlet</servlet-name>
  <url-pattern>/author/game/*</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ControlGameServlet</servlet-name>
  <url-pattern>/orchestration/play.html</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ControlGameServlet</servlet-name>
  <url-pattern>/orchestration/stop.html</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ControlGameServlet</servlet-name>
  <url-pattern>/orchestration/finish.html</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>RpcLogin</servlet-name>
  <url-pattern>/rpc/login</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>InformLocation</servlet-name>
  <url-pattern>/rpc/location</url-pattern>
 </servlet-mapping>
 <welcome-file-list>
  <welcome-file>index.html</welcome-file>
 </welcome-file-list>
	<!-- Any authenticated user -->
    <security-constraint> 
        <web-resource-collection> 
	        <web-resource-name>author pages</web-resource-name> 
            <url-pattern>/author/*</url-pattern> 
        </web-resource-collection> 
        <auth-constraint> 
            <role-name>*</role-name> 
        </auth-constraint> 
    </security-constraint>
<!-- <login-config>
  <auth-method>BASIC</auth-method>
 </login-config> -->
</web-app>
